* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
  }
   #header{
      padding: 10px;
      font-size: 2em;
      
       background-color: rgb(63, 92, 79);
       text-align: center;
   }
   .nav{
      overflow: hidden;
    background-color: #333;
    padding-right: 20px;
    
    
  
   }
   .nav a{
     float: right;
     color:white;
     padding:15px 28px;
     text-align: center;
     text-decoration: none;
     border-radius: 20px;
     
     
  }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  .row{
    color: rgb(63, 92, 79);
    line-height: 20px;
    font-weight: bold;
  }
  
  .column {
    float: left;
    padding: 10px;
   
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  .column{
    position: relative;
  }
  .middle img{
    position: absolute;
    left:25%;
    border: 4px solid rgb(63, 92, 79);
    padding:5px;
    transition: all 2s;
  }
  .middle img:hover{
    transform: scale(0.9);
  }
  .side img{
    position: relative;
    left: 20px;
  
    border: 4px solid rgb(63, 92, 79);
    padding:5px;
    transition: all 2s;
  }
  .side img:hover{
    transform: scale(0.9);
  }
  
 
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
#grid-container{
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 20px;
  background-color:#456375;
  
}
#grid-container a{
  box-sizing: border-box;
  color:black;
  padding:20px 30px;
  margin: 20px;
  background-color: white;
  text-decoration: none;
  box-shadow: 5px 5px 1px black;
  text-align: center;
  border-radius: 10px;
  transition: 0.8s;
  font-weight: bold;
  text-transform: capitalize;

}
#grid-container a:hover{
  transform: scale(0.98);
  background-color: rgb(41, 26, 88);
  color: white;
}
